@model DeliverListModel
@using HONGLI.Web.Models.User;
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>添加收单地址</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta content="portrait" name="screen-orientation" />
    <meta content="portrait" name="x5-orientation" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Styles/all.css")">
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/base.js")"></script>
</head>
<body>
    <div class="f-nav">
        <h2>收单地址</h2>
        <div class="f-nav-back">
            <a href="@Url.Action("Do", "Order", new { UserId = Model.UserId,productId = Model.ProductId, mobile = Model.Mobile,channel = Model.Channel })"><i></i></a>
        </div>
    </div>
    <div class="f-nav-extend">&nbsp;</div>
    <div class="page23-list">
        @if (Model.DeliverList.Count > 0)
        {
            foreach (var deliverItem in Model.DeliverList)
            {
                <div class="f-list01">
                    <div class="t-radio">
                        <input type="radio" class="checkbox" name="address" id="@deliverItem.Id" data-name="@deliverItem.DeliverName" data-mobile="@deliverItem.DeliverMobile" data-location="@deliverItem.DeliverLocation" data-address="@deliverItem.DeliverAddress">
                    </div>
                    <div class="f-list01-main">
                        <p class="t-info">@deliverItem.DeliverName<span>@deliverItem.DeliverMobile</span></p>
                        <p class="t-address">@deliverItem.DeliverAddress</p>
                    </div>
                    <div class="f-list01-go">
                        <a href="@Url.Action("Edit", "Deliver", new { id = deliverItem.Id, UserId = Model.UserId ,productId = Model.ProductId, mobile = Model.Mobile,channel = Model.Channel })" id="deliver_@deliverItem.Id" class="t-icon-edit"></a>
                    </div>
                </div>
            }
        }
    </div>
    <div class="page23-fixed-extend"></div>
    <div class="page20-submit">
        @*@if (Model.ProductId != 0)
            {*@
        <a class="f-button02" style="margin-left:10px;" href="@Url.Action("Do", "Order", new { UserId = Model.UserId,productId = Model.ProductId, mobile = Model.Mobile,channel = Model.Channel })">确定</a>
        @*}
            else
            {
                <a class="f-button02" style="margin-left:10px;" href="@Model.PageUrl">确定</a>
            }*@
        <a class="f-button02" href="@Url.Action("Edit", "Deliver", new {  UserId = Model.UserId, productId = Model.ProductId, mobile = Model.Mobile,channel = Model.Channel })">新建地址</a>

    </div>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery/jquery-2.1.3.min.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/all.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/hongli.common.tools.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/hongli.global.data.js")"></script>
    <script type="text/javascript" language="javascript">
        $(function () {
            var policyHolderSelected = common.cookie.getCookie(global.cookie.order.policyHolderSelected);
            if (policyHolderSelected != "") {
                $('input:radio[name=address]').each(function () {
                    if ($(this).attr("id") == policyHolderSelected) {
                        $('html,body').animate({ scrollTop: $("#deliver_" + policyHolderSelected).offset().top }, 500);
                        $(this).attr("checked", "checked");
                    }
                });
            }
            $('input:radio[name=address]').click(function () {
                if ($(this).attr("checked", "checked")) {
                    common.cookie.setCookie(global.domain, global.cookie.order.policyHolderSelected, $(this).attr("id"), global.expire);
                    var deliverName = $(this).attr("data-name");
                    var deliverMobile = $(this).attr("data-mobile");
                    var deliverLocation = $(this).attr("data-location");
                    var deliverAddress = $(this).attr("data-address");
                    var order_deliver = new global.order.deliver(deliverName, deliverMobile, deliverLocation, deliverAddress);
                    var order_deliver_str = JSON.stringify(order_deliver);
                    common.cookie.setCookie(global.domain, global.cookie.order.deliver, order_deliver_str, global.expire);
                }
            });
        });
    </script>
</body>
</html>