@using System.Data;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var list = ViewBag.list as DataRow;
}

<div class="right_cont">

    <div class="title_right"><strong>订单详情</strong></div>
    <div style="margin:auto">
        <table class="table table-bordered" align="center">
            <tr>
                <td bgcolor="#f1f1f1"  align="center">车型</td>
                <td align="center">@list["ModleName"]</td>
                <td bgcolor="#f1f1f1" align="center">保险到期时间</td>
                <td align="center">@list["BusinessExpireDate"]</td>
                <td bgcolor="#f1f1f1" align="center">发票类型</td>
                <td align="center">
                <select id="InvoiceType"  name="select3">
                    <option value="0">个人</option>
                    <option value="1">企业</option>
                </select>
                </td>
                <td bgcolor="#f1f1f1" align="center">发票抬头</td>
                <td align="center"><input id="InvoiceTitle" value="@list["InvoiceTitle"]" /></td>
            </tr>
            <tr>
                @{decimal TotalAfterCoupon;
                    decimal DeliverPrice;
                    decimal.TryParse(list["DeliverPrice"].ToString(), out DeliverPrice);
                    decimal.TryParse(list["TotalAfterCoupon"].ToString(), out TotalAfterCoupon);
                    }
                <td bgcolor="#f1f1f1" align="center">应付保费</td>
                <td align="center">@(DeliverPrice+TotalAfterCoupon)</td>
                <td bgcolor="#f1f1f1" align="center">预付保费</td>
                <td align="center">@list["PrepaidAmount"]</td>
                <td bgcolor="#f1f1f1" align="center">净费录入</td>
                <td align="center">@list["TotalAfterCoupon"]</td>
                <td bgcolor="#f1f1f1" align="center">支付方式</td>
                <td align="center">
                    <select id="PayType" name="select3">
                        <option value="1">支付宝</option>
                        <option value="2">全款刷卡返现</option>
                        <option value="3">现金折扣直付</option>
                    </select>
                </td>
            </tr>
            </table>
                <strong>保单详情</strong>
        <table class="table table-bordered" align="center">
            <tbody>
                <tr>
                    <td align="center" bgcolor="#f1f1f1">核保公司</td>
                    <td align="center" bgcolor="#f1f1f1">核保状态</td>
                    <td align="center" bgcolor="#f1f1f1">核保内容</td>

                </tr>
                <tr>
                    <td align="center">@list["ModleName"]</td>
                    <td align="center">
                        @if (list["SubmitStatus"].ToString() == "0")
                        {
                            <span>核保失败</span>
                        }
                        else if (list["SubmitStatus"].ToString() == "1")
                        {
                            <span>核保成功</span>
                        }
                        else if (list["SubmitStatus"].ToString() == "2")
                        {
                            <span>未核保</span>
                        }
                        else if (list["SubmitStatus"].ToString() == "3")
                        {
                            <span>核保中</span>
                        }
                    </td>
                    <td align="center">@list["SubmitResult"]</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered" align="center">
            <tr>
                <td align="center" bgcolor="#f1f1f1">险种</td>
                <td align="center" bgcolor="#f1f1f1">保额</td>
                <td align="center" bgcolor="#f1f1f1">保险费小计</td>
            </tr>
            <tr>
                <td align="center">机动车损失保险</td>
                <td align="center">@list["CheSun_BaoE"]</td>
                <td align="center">@list["CheSun_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">第三方责任险</td>
                <td align="center">@list["SanZhe_BaoE"]</td>
                <td align="center">@list["SanZhe_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">全车盗抢保险</td>
                <td align="center">@list["DaoQiang_BaoE"]</td>
                <td align="center">@list["DaoQiang_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">车上人员责任险（司机）</td>
                <td align="center">@list["SiJi_BaoE"]</td>
                <td align="center">@list["SiJi_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">车上人员责任险（乘客）</td>
                <td align="center">@list["ChengKe_BaoE"]</td>
                <td align="center">@list["ChengKe_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">玻璃单独破碎险</td>
                <td align="center">@list["BoLi_BaoE"]</td>
                <td align="center">@list["BoLi_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">车身划痕损失险</td>
                <td align="center">@list["HuaHen_BaoE"]</td>
                <td align="center">@list["HuaHen_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">不计免赔险（车损）</td>
                <td align="center">@list["BuJiMianCheSun_BaoE"]</td>
                <td align="center">@list["BuJiMianCheSun_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">不计免赔险（三者）</td>
                <td align="center">@list["BuJiMianSanZhe_BaoE"]</td>
                <td align="center">@list["BuJiMianSanZhe_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">不计免赔险（盗抢）</td>
                <td align="center">@list["BuJiMianDaoQiang_BaoE"]</td>
                <td align="center">@list["BuJiMianDaoQiang_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">不计免赔险（车上人员）</td>
                <td align="center">@list["BuJiMianRenYuan_BaoE"]</td>
                <td align="center">@list["BuJiMianRenYuan_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">不计免赔险（附加险）</td>
                <td align="center">@list["BuJiMianFuJia_BaoE"]</td>
                <td align="center">@list["BuJiMianFuJia_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">发动机特别损失险</td>
                <td align="center">@list["SheShui_BaoE"]</td>
                <td align="center">@list["SheShui_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">倒车镜、车灯单独损坏险</td>
                <td align="center">@list["CheDeng_BaoE"]</td>
                <td align="center">@list["CheDeng_BaoFei"]</td>
            </tr>
            <tr>
                <td align="center">自燃损失险</td>
                <td align="center">@list["ZiRan_BaoE"]</td>
                <td align="center">@list["ZiRan_BaoFei"]</td>
            </tr>
        </table>

        <table class="table table-bordered" align="center">
            <tr>
                <td align="center" bgcolor="#f1f1f1">商业险总额</td>
                <td align="center" bgcolor="#f1f1f1">平台商业费率</td>
                <td align="center" bgcolor="#f1f1f1">商业险优惠后价格</td>
            </tr>
            <tr>
                <td align="center">@list["BizTotal"]</td>
                <td align="center">@list["BizRate_Channel"]</td>
                <td align="center">@list["BizAfterCoupon"]</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f1f1">交强险总额</td>
                <td align="center" bgcolor="#f1f1f1">平台交强费率</td>
                <td align="center" bgcolor="#f1f1f1">交强险优惠后价格</td>
            </tr>
            <tr>
                <td align="center">@list["ForceTotal"]</td>
                <td align="center">@list["ForceRate"]</td>
                <td align="center">@list["ForceRate_Channel"]</td>
                <td align="center">@list["ForceAfterCoupon"]</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#f1f1f1">车船税总额</td>
                <td align="center" bgcolor="#f1f1f1">平台车船费率</td>
                <td align="center" bgcolor="#f1f1f1">车船税优惠后价格</td>
            </tr>
            <tr>
                <td align="center">@list["TaxTotal"]</td>
                <td align="center">@list["TaxRate_Channel"]</td>
                <td align="center">@list["TaxAfterCoupon"]</td>

            </tr>
            <tr>
                <td align="center" bgcolor="#f1f1f1"></td>
                <td align="center" bgcolor="#f1f1f1">总价格</td>

                <td align="center" bgcolor="#f1f1f1">优惠后总价格</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td align="center">@list["Total"]</td>

                <td align="center">@list["TotalAfterCoupon"]</td>
            </tr>
        </table>
        <div style="float:right;margin-right:20px; font-size:16px; font-weight:600;"><span>预付金额：</span><span style="margin-right:15px;">@(list["PrepaidAmount"] == null ? "0" : list["PrepaidAmount"].ToString())</span></div>
        <br />
                <strong>收单地址</strong>
                <table class="table table-bordered" align="center">
                    <tr>
                        <td bgcolor="#f1f1f1">保单邮寄方式</td>
                        <td colspan="5">
                            <select id="DeliverType">
                                <option Value="1">上门签约</option>
                                <option Value="2">自提</option>
                            </select>
                            运费
                            <input id="DeliverPrice" value="@list["DeliverPrice"]" />
                            <input  id="OrderBaeCreateDate" type="hidden" value="@list["OrderBaeCreateDate"]"/>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#f1f1f1">收件人姓名</td>
                        <td>@list["DeliverName"]</td>
                        <td bgcolor="#f1f1f1">下单人联系方式</td>
                        <td>@list["Mobile"]</td>
                        <td bgcolor="#f1f1f1">收货人联系方式</td>
                        <td>@list["DeliverMobile"]</td>
                    </tr>
                    <tr>
                        <td bgcolor="#f1f1f1">收货地址</td>
                        <td colspan="5">@list["DeliverAddress"]</td>
                    </tr>
                </table>
                <br />
                <span>修改</span>
                <br />
                <table class="table table-bordered" align="center">
                    <tr>
                        <td bgcolor="#f1f1f1">收件人姓名</td>
                        <td><input id="DeliverName" type="text" value="@list["DeliverName"]" /></td>
                        <td bgcolor="#f1f1f1">下单人联系方式</td>
                        <td>@list["Mobile"]</td>
                        <td bgcolor="#f1f1f1">收货人联系方式</td>
                        <td><input id="DeliverMobile" type="text"  value="@list["DeliverMobile"]" /></td>
                    </tr>
                    <tr>
                        <td>选择地区</td>
                        <td>
                            <input id="DeliverDistrictCode" type="hidden" value="@list["DeliverDistrictCode"]"/>
                            <select class="f-select01" id="deliverProvince" name="deliverProvince"></select>
                            <select class="f-select01" id="deliverCity" name="deliverCity"></select>
                            <select class="f-select01" id="deliverArea" name="deliverArea"></select>
                        </td>
                        <td bgcolor="#f1f1f1">详细地址</td>
                        <td colspan="3">
                        <input id="DeliverAddress" type="text" style="width:380px;" value="@list["DeliverAddress"]" /></td>
                    </tr>
                </table>
                <input type="submit" id="SaveModel" value="保存修改" onclick="Submit()" />
    </div>
</div>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/pcas.js")"></script>
<script>
    var itemdata;
    $(function () {
        $("#InvoiceType").val(@list["InvoiceType"]);
        $("#PayType").val(@list["PayType"]);
        var deliverLocation = $("#DeliverDistrictCode").val();
        if (deliverLocation != null && deliverLocation != "") {
            var locationArrar = deliverLocation.split('|');
            console.log(locationArrar);
            //$("#s_province option[value=" + locationArrar[0] + "]").attr("selected", "selected");
            //$('#s_province').onchange();

            //$("#s_city option[value=" + locationArrar[1] + "]").attr("selected", "selected");

            //$("#s_county option[value=" + locationArrar[2] + "]").attr("selected", "selected");
            //$('#s_province').val(locationArrar[0]);
            //$('#s_city').val(locationArrar[1]);
            //console.log(locationArrar[1]);
            //$('#s_county').val(locationArrar[2]);
            new PCAS("deliverProvince", "deliverCity", "deliverArea", locationArrar[0], locationArrar[1], locationArrar[2]);
        }
        else {
            new PCAS("deliverProvince", "deliverCity", "deliverArea");
        }
        $('#deliverProvince').change(function () {
            $('#deliverLocation').val($('#deliverProvince').val());
        });
        $('#deliverCity').change(function () {
            $('#deliverLocation').val($('#deliverProvince').val() + "|" + $('#deliverCity').val());
        });
        $('#deliverArea').change(function () {
            $('#deliverLocation').val($('#deliverProvince').val() + "|" + $('#deliverCity').val() + "|" + $('#deliverArea').val());
        });
        $("#deliverAddress").focus(function () {
            $('html,body').animate({ scrollTop: $("#deliverAddress").offset().top }, 500);
        });
        $("#ChangeAuditDocuments").click(function () { ChangeAuditDocuments(); });
        $("#ChangeAuditMessage").click(function () { ChangeAuditDocuments(); ChangeOrderList(); });
    });
    function Submit() {
        var InvoiceType = $("#InvoiceType").val();
        var InvoiceTitle = $("#InvoiceTitle").val();
        var PayType = $("#PayType").val();
        var DeliverType = $("#DeliverType").val();
        if (DeliverType == 1) {
            $("#DeliverPrice").val(global.order.deliverPrice);
        }
        else {
            $("#DeliverPrice").val("");
        }
        var DeliverPrice = $("#DeliverPrice").val();
        var beforeDeliverType = '@list["DeliverType"]';
        var DeliverName = $("#DeliverName").val();
        var DeliverMobile = $("#DeliverMobile").val();
        var DeliverDistrictCode = $("#DeliverDistrictCode").val();
        var DeliverAddress = $("#DeliverAddress").val();
        var OrderBaeCreateDate = $("#OrderBaeCreateDate").val();
        $.post("EditDeliverDetail", { InvoiceType: InvoiceType, InvoiceTitle: InvoiceTitle, PayType: PayType, DeliverType: DeliverType, beforeDeliverType: beforeDeliverType, DeliverName: DeliverName, DeliverMobile: DeliverMobile, DeliverDistrictCode: DeliverDistrictCode, DeliverAddress: DeliverAddress, OrderBaseId: '@list["orderBaseId"]', OrderDeliverId: '@list["OrderDeliverId"]', orderCode: '@Request["OrderCode"]', DeliverPrice: DeliverPrice, UserId: '@Request["UserId"]', OrderBaeCreateDate: OrderBaeCreateDate }, function (data) {
            if(data==1)
            {
                alert("保存成功");
            }
            else
            {
                alert("保存失败");
            }
        });
    }
</script>