@using System.Data;
@{
    DataTable dt = ViewBag.list as DataTable;
}
<table class="table table-bordered">
    <tr>
        <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong></strong></td>
        <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>交强险保险费</strong></td>
        <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>商业险保险费</strong></td>
        <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>车船税保险费</strong></td>
        <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>佣金</strong></td>
        <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>预付金费</strong></td>
        <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>待付金额</strong></td>
        <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>详情</strong></td>
    </tr>
    @if (dt.Rows.Count > 0)
    {
        foreach (DataRow item in dt.Rows)
        {
            <tr>
                <td align="center" style="color:red;">合计</td>
                <td align="center"  style="color:red;">@Convert.ToDecimal(item["ForceTotal"]).ToString("F2")</td>
                <td align="center" style="color:red;">@Convert.ToDecimal(item["BizTotal"]).ToString("F2")</td>
                <td align="center" style="color:red;">@Convert.ToDecimal(item["TaxTotal"]).ToString("F2")</td>
                <td align="center" style="color:red;">@Convert.ToDecimal(item["Commission"]).ToString("F2")</td>
                <td align="center" style="color:red;">@Convert.ToDecimal(item["PrepaidAmount"]).ToString("F2")</td>
                <td align="center" style="color:red;">@Convert.ToDecimal(item["RemainMoney"]).ToString("F2")</td>
                <td align="center"><a id="detail_href" href="javascript:void(0)">详情</a></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td align="center" style="color:red;" colspan="8">未查询到相关数据！</td>
        </tr>
    }
    </table>
<script type="text/javascript">
    var OrderCode = $("#OrderCode").val();
    var username = $("#Name").val();
    var LicenseNo = $("#LicenseNo").val();
    var BeginDate = $("#BeginDate").val();
    var EndDate = $("#EndDate").val();
    var InsuranceCompany = $("#InsuranceCompany").val();
    $("#detail_href").attr("href", "ReportDetail?OrderCode=" + OrderCode + "&Name=" + username + "&LicenseNo=" + LicenseNo + "&BeginDate=" + BeginDate + "&EndDate=" + EndDate + "&InsuranceCompany=" + InsuranceCompany);
    </script>