
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>询价结果</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta content="portrait" name="screen-orientation" />
    <meta content="portrait" name="x5-orientation" />
    <link href="~/public/css/all.css" rel="stylesheet" />
    <script src="~/public/js/base.js"></script>
</head>
<body>
    <div class="f-nav">
        <h2>询价结果</h2>
        <div class="f-nav-back">
            <a href="javascript:;" id="riaGoBack"><i></i></a>
        </div>
        <div class="f-nav-action">
            <a href="javascript:history.go(-1); ">修改险种</a>
        </div>
    </div>
    <div class="f-nav-extend">&nbsp;</div>
    <div class="page40-user">
        <div class="f-list01">
            <div class="f-list01-img">
                <img src="~/public/images/page40-face-100_c1.png">
            </div>
            <div class="f-list01-main">
                <p class="t-30">亲爱的车主</p>
                <p class="t-24">以下是易啦保为您筛选的保险报价</p>
            </div>
        </div>
    </div>
    <div class="page40-tips">以下是各保险公司的原价报价，点击查看实际优惠！</div>
    <div class="page40-list">
        <div class="f-list01-group">
            <div class="f-list01">
                <div class="f-list01-img">
                    <img src="~/public/imagesTemp/page40-1.png">
                </div>
                <div class="f-list01-main">人保财险</div>
                <div class="f-list01-other" id="company2">
                </div>
                <div class="f-list01-go">
                    <i class="f-list01-icon-arrow"></i>
                </div>
            </div>
            <div class="f-list01">
                <div class="f-list01-img">
                    <img src="~/public/imagesTemp/page40-2.png">
                </div>
                <div class="f-list01-main">中国平安</div>
                <div class="f-list01-other" id="company0">
                </div>
                <div class="f-list01-go">
                    <i class="f-list01-icon-arrow"></i>
                </div>
            </div>
            <div class="f-list01">
                <div class="f-list01-img">
                    <img src="~/public/imagesTemp/page40-3.png">
                </div>
                <div class="f-list01-main">太平洋保险</div>
                <div class="f-list01-other" id="company1">
                </div>
                <div class="f-list01-go">
                    <i class="f-list01-icon-arrow"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="~/public/3rdLibs/jquery/jquery-2.1.3.min.js"></script>
    <script src="~/public/3rdLibs/layer.mobile/v1.7/layer.js"></script>
    <script src="~/public/js/all.js"></script>
    <script src="~/Scripts/hongli.common.tools.js"></script>
    <script src="~/public/3rdLibs/layer.mobile/v1.7/layer.js"></script>

    <script type="text/javascript">
        $(function () {
            getPrecisePrice();
        });

        //三家报价
        function getPrecisePrice() {
            $.ajax({
                type: "post",
                url: '@Url.Action("GetPrecisePrice", "ProductV3")',
                dataType: "json",
                data: {
                    channel: "@ViewBag.channel",
                    mobile: "@ViewBag.mobile",
                    licenseNo: "@ViewBag.licenseNo"
                },
                beforeSend: function () {
                    layer.open({ type: 2 });
                },
                success: function (data) {
                    console.log(data);
                    if (data == null) {
                        alert("请求报价信息失败！");
                        return;
                    }

                    if (data.BusinessStatus == 1) {
                        //单独报价
                        getSpecialPrecisePrice(0);
                        getSpecialPrecisePrice(1);
                        getSpecialPrecisePrice(2);
                    }
                    else {
                        var message = data.StatusMessage;
                        if (message == null) {
                            message = "请求报价失败，服务器未返回失败原因！";
                        }
                        alert(message);
                    }
                    layer.closeAll();
                },
                error: function (data) {
                    alert("请求报价信息失败！！");
                }
            });
        }


        //获取报价信息
        function getSpecialPrecisePrice(companyId) {
            var companyObj = $("#company" + companyId);

            $.ajax({
                type: "post",
                url: '@Url.Action("GetSpecialPrecisePrice", "ProductV3")',
                dataType: "json",
                data: {
                    channel: "@ViewBag.channel",
                    mobile: "@ViewBag.mobile",
                    licenseNo: "@ViewBag.licenseNo",
                    intentionCompany: companyId,
                    UserID: parseInt('@Request["userID"]'),
                    check:"1"
                },
                beforeSend: function () {
                    companyObj.empty().append("<span class='t-loading'>试算中...</span>");
                },
                success: function (data) {
                    console.log(data);

                    if (data == null) {
                        loadErrorHtml(companyId, companyObj, "试算失败！");
                        return;
                    }
                    if (data.BusinessStatus == 1) {
                        if (data.Item != null) {
                            var result = data.Item;
                            var total = (result.BizTotal + result.ForceTotal + result.TaxTotal);
                            var totalFormat = common.operateNum.formatNum(total, 2);
                            companyObj.empty().append("<span class='t-money'>¥" + totalFormat + "</span>");
                            if (companyObj.siblings("div").hasClass("f-list01-go")) {
                                companyObj.siblings("div .f-list01-go").empty().append("<i class='f-list01-icon-arrow' onclick='redirectToDetail(" + companyId + ","+result.Id+")'></i>");
                                companyObj.parent("div .f-list01").bind("click", function () { redirectToDetail(companyId, result.Id); });

                            } else {
                                companyObj.siblings("div .f-list01-other-01").empty().append("<i class='f-list01-icon-arrow' onclick='redirectToDetail(" + companyId + "," + result.Id + ")'></i>");
                                companyObj.parent("div .f-list01").bind("click", function () { redirectToDetail(companyId, result.Id); });
                            }
                        }
                        else {
                            loadErrorHtml(companyObj, "未返回报价信息！");
                        }
                    }
                    else {
                        loadErrorHtml(companyId, companyObj, data.StatusMessage);
                    }
                },
                error: function (data) {
                    loadErrorHtml(companyId, companyObj, "试算失败！！");
                }
            });
        }



        function redirectToDetail(companyId,productItemId) {
            $("#company" + companyId).parent("div .f-list01").css("background-color", "#ccc"); //选中状态

            location.href = '@Url.Action("QuoteDetail")?channel=@ViewBag.channel&mobile=@ViewBag.mobile&licenseNo=@ViewBag.licenseNo&intentionCompany=' + companyId + "&userID=@Request["userID"]&ProductItemId=" + productItemId;
        }

        function loadErrorHtml(companyId, companyObj, errorMessage) {
            errorMessage = "试算失败:" + errorMessage;
            companyObj.removeClass("f-list01-other").addClass("f-list01-other-01").empty().append("<span class='t-error' onclick=\"showErrorMessage('" + errorMessage + "');\">试算失败</span>");
            companyObj.siblings("div .f-list01-go").removeClass("f-list01-go").addClass("f-list01-other-01").empty().append("<i class='t-tips' onclick='getSpecialPrecisePrice(" + companyId + ");'>重新试算</i>");
        }

        function showErrorMessage(errorMessage) {
            layer.open({
                title: [
                    '报价失败原因',
                    'text-align:center;'
                ],
                content: errorMessage
            });
        }        
    </script>
    <a id="udesk-im-74" target="_blank" href="http://trupeer.udesk.cn/im_client" style="text-align:center;z-index:9999;text-decoration:none;display:block;color: #fff;background-color:#009944;position: fixed;line-height: 50px;bottom:10px;right:30px;width: 60px;border-radius:30px;-moz-border-radius: 30px;-webkit-border-radius: 30px;padding: 0px;"><img src="http://qnudeskpub.flyudesk.com/im@2x-1437535730.png" style="margin:auto;float:left;height: 60px;"></a>
    <script>function getReferrer(){var imEle = document.getElementById("udesk-im-74");if(imEle.href.indexOf("?")>-1){imEle.href+="&"}else{imEle.href+="?"}imEle.href+="cur_url="+encodeURIComponent(location.href);imEle.href+="&";imEle.href+="pre_url="+encodeURIComponent(document.referrer);}window.onload = getReferrer();</script>
</body>
</html>
