
@model HONGLI.Entity.View_ProductV2UserItem

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>车险询价-报价详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta content="portrait" name="screen-orientation" />
    <meta content="portrait" name="x5-orientation" />
    <link href="~/public/css/all.css" rel="stylesheet" />
    <script src="~/public/js/base.js"></script>
    <link href="~/public/Popup/reveal.css" rel="stylesheet" />
    <script src="~/public/Popup/jquery-1.6.min.js"></script>
    <script src="~/public/Popup/jquery.reveal.js"></script>
</head>
<body>
    <div class="f-nav">
        <h2>报价详情</h2>
        <div class="f-nav-back">
            <a href="javascript:;" id="riaGoBack"><i></i></a>
        </div>
        <div class="f-nav-action"><a style="float:right;color:#ea3c3a;font-size:.521rem;" data-reveal-id="myModal" href="#" data-animation="fade">客服</a></div>
    </div>
    <div class="f-nav-extend">&nbsp;</div>
    @{
        var intentionCompany = Model.Source;

        <div class="f-list01 page12-top">
            <div class="f-list01-main">
                @if (intentionCompany == 0) //pingan
                {
                    <img src="~/public/imagesTemp/page40-2.png" />
                }
                else if (intentionCompany == 1)  //taipingyang
                {
                    <img src="~/public/imagesTemp/page40-3.png" />
                }
                else if (intentionCompany == 2)  //renbao
                {
                    <img src="~/public/imagesTemp/page40-1.png" />
                }
            </div>
            <div class="f-list01-main"><del>@(Model.Total) 元</del></div>
        </div>
        <div class="f-list01 page12-list01">
            <div class="f-list01-main">交强险</div>
            <div class="f-list01-other">@(Model.ForceTotal) 元</div>
        </div>
        <div class="f-list01 page12-list01">
            <div class="f-list01-main">车船税</div>
            <div class="f-list01-other">@(Model.TaxTotal)元</div>
        </div>
        <div class="page12-title02">
            <i class="page12-title02-line"></i>
            <div class="f-list01">
                <div class="f-list01-main">商业险</div>
                <div class="f-list01-other">@(Model.BizTotal)元</div>
                <div class="f-list01-go"><i class="f-list01-icon-arrow-down" data-sh=".page12-tips"></i></div>
            </div>
            @*<div class="page12-title02-tips page12-tips">车损险、三者险（20万）、盗抢险、划痕险(2000元）、玻璃单独破损险、座位险（司机1万）、座位险（乘客1万）、不计免赔险</div>*@
            <div class="page12-title02-tips page12-tips"  style="margin-top:0.05rem">@(Model.Description)</div>
        </div>
        <div class="f-list01-group page12-tips">
            <div style="display:@(Model.CheSun_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">车损险（@((Model.CheSun_BaoE.HasValue && Model.CheSun_BaoE.Value > 10000) ? Model.CheSun_BaoE.ToString().Replace(Model.CheSun_BaoE.ToString().Substring(Model.CheSun_BaoE.ToString().LastIndexOf('0') - 6), "万") : Model.CheSun_BaoE + "元")）</div>
                <div class="f-list01-other">@(Model.CheSun_BaoFei)元</div>
            </div>
            <div style="display:@(Model.BuJiMianCheSun_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">不计免赔车损险</div>
                <div class="f-list01-other">@(Model.BuJiMianCheSun_BaoFei)元</div>
            </div>
            <div style="display:@(Model.SanZhe_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">三者险（@((Model.SanZhe_BaoE.HasValue && Model.SanZhe_BaoE.Value > 10000) ? Model.SanZhe_BaoE.ToString().Replace(Model.SanZhe_BaoE.ToString().Substring(Model.SanZhe_BaoE.ToString().LastIndexOf('0') - 6), "万") : Model.SanZhe_BaoE + "元")）</div>
                <div class="f-list01-other">@(Model.SanZhe_BaoFei)元</div>
            </div>
            <div style="display:@(Model.BuJiMianSanZhe_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">不计免赔三者险</div>
                <div class="f-list01-other">@(Model.BuJiMianSanZhe_BaoFei)元</div>
            </div>
            <div style="display:@(Model.SiJi_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">座位险（司机@((Model.SiJi_BaoE.HasValue && Model.SiJi_BaoE.Value > 10000) ? Model.SiJi_BaoE.ToString().Replace(Model.SiJi_BaoE.ToString().Substring(Model.SiJi_BaoE.ToString().LastIndexOf('0') - 6), "万") : Model.SiJi_BaoE + "元")）</div>
                <div class="f-list01-other">@(Model.SiJi_BaoFei)元</div>
            </div>
            <div style="display:@(Model.ChengKe_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">座位险（乘客@((Model.ChengKe_BaoE.HasValue && Model.ChengKe_BaoE.Value > 10000) ? Model.ChengKe_BaoE.ToString().Replace(Model.ChengKe_BaoE.ToString().Substring(0, Model.ChengKe_BaoE.ToString().LastIndexOf('0') - 6), "万") : Model.ChengKe_BaoE + "元")）</div>
                <div class="f-list01-other">@(Model.ChengKe_BaoFei)元</div>
            </div>
            <div style="display:@(Model.BuJiMianRenYuan_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">不计免赔车上人员</div>
                <div class="f-list01-other">@(Model.BuJiMianRenYuan_BaoFei)元</div>
            </div>
            <div style="display:@(Model.DaoQiang_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">盗抢险</div>
                <div class="f-list01-other">@(Model.DaoQiang_BaoFei)元</div>
            </div>
            <div style="display:@(Model.DaoQiang_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">不计免赔盗抢险</div>
                <div class="f-list01-other">@(Model.BuJiMianDaoQiang_BaoFei)元</div>
            </div>
            <div style="display:@(Model.HuaHen_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">划痕险</div>
                <div class="f-list01-other">@(Model.HuaHen_BaoFei)元</div>
            </div>
            <div style="display:@(Model.BoLi_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">玻璃单独破损险（@((Model.BoLi_BaoE.HasValue && Model.BoLi_BaoE.Value > 0) ? (Model.BoLi_BaoE.Value == 1 ? "国产" : (Model.BoLi_BaoE.Value == 2 ? "进口" : "")) : "")）</div>
                <div class="f-list01-other">@(Model.BoLi_BaoFei)元</div>
            </div>
            <div style="display:@(Model.SheShui_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">发动机特别损失险</div>
                <div class="f-list01-other">@(Model.SheShui_BaoFei)元</div>
            </div>
            <div style="display:@(Model.ZiRan_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">自燃险</div>
                <div class="f-list01-other">@(Model.ZiRan_BaoFei)元</div>
            </div>
            <div style="display:@((Model.Source == 0 && Model.CheDeng_BaoE > 0) ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">倒车镜、车灯单独损失险</div>
                <div class="f-list01-other">@(Model.CheDeng_BaoFei)元</div>
            </div>
            <div style="display:@(Model.BuJiMianFuJia_BaoE > 0 ? "list":"none")" class="f-list01 page12-list02">
                <div class="f-list01-main">不计免赔附加险</div>
                <div class="f-list01-other">@(Model.BuJiMianFuJia_BaoFei)元</div>
            </div>
        </div>
        @*<div class="page12-hbzt-wrap">
            <div class="page12-hbzt">
                <div class="page12-hbzt-title page12-hbzt-success-title"><span>核保<br>成功</span></div>
                @*<div class="page12-hbzt-content page12-hbzt-success-content"><span>核保内容：xxxxxxxxxxxxxxxxxxx</span></div>
            </div>
        </div>*@

        <div class="page12-title01"><i></i>您的报价单：（优惠部分已由平台车险专项积分抵扣）</div>

        var bizCoupon = Model.BizTotal * (100 - Model.BizRate_Channel) * Convert.ToDecimal(0.01);
        var forceCoupon = Model.ForceTotal * (100 -  Model.ForceRate_Channel) * Convert.ToDecimal(0.01);
        var taxCoupon = Model.TaxTotal * (100 - Model.TaxRate_Channel) * Convert.ToDecimal(0.01);

        var forceRate = decimal.Round(Convert.ToDecimal(100 - (Model.ForceRate_Channel == null ? 0 : Model.ForceRate_Channel)), 0);
        var taxRate = decimal.Round(Convert.ToDecimal(100 -  (Model.TaxRate_Channel == null ? 0 : Model.TaxRate_Channel)), 0);
        var bizRate = decimal.Round(Convert.ToDecimal(100 -  (Model.BizRate_Channel==null?0: Model.BizRate_Channel)), 0);


        <div class="f-list01-group">
            @*<div class="f-list01 page12-list04">
                    <div class="f-list01-main">商业险优惠费率   @bizRate % x @Model.BizTotal 元（原价） =  @(bizCoupon.HasValue ? bizCoupon.Value.ToString("f2") : "" ) 元</div>
                </div>
                <div class="f-list01 page12-list04">
                    <div class="f-list01-main">交强险优惠费率    @forceRate % x @Model.ForceTotal 元（原价） =  @(forceCoupon.HasValue ? forceCoupon.Value.ToString("f2") : "") 元</div>
                </div>
                <div class="f-list01 page12-list04">
                    <div class="f-list01-main">车船税优惠费率    @taxRate % x @Model.TaxTotal 元（原价） =  @(taxCoupon.HasValue ? taxCoupon.Value.ToString("f2") : "") 元</div>
                </div>*@
            <div class="f-list01 page12-list04">
                <div class="f-list01-main" style="width: 3.5rem;">商业险优惠费率</div>
                <div class="f-list01-main" style="width: 1rem;">@bizRate%</div>
                <div class="f-list01-main" style="width: 4.5rem;">x @(Model.BizTotal)元（原价）</div>
                <div class="f-list01-main" style="width: 1.5rem;">= @(bizCoupon.HasValue ? bizCoupon.Value.ToString("f2") : "" )</div>
            </div>
            <div class="f-list01 page12-list04">
                <div class="f-list01-main" style="width: 3.5rem;">交强险</div>
                <div class="f-list01-main" style="width: 1rem;"></div>
                <div class="f-list01-main" style="width: 4.5rem;"></div>
                <div class="f-list01-main" style="width: 1.5rem;">= @(forceCoupon.HasValue ? forceCoupon.Value.ToString("f2") : "")</div>
            </div>
            <div class="f-list01 page12-list04">
                <div class="f-list01-main" style="width: 3.5rem;">车船税</div>
                <div class="f-list01-main" style="width: 1rem;"></div>
                <div class="f-list01-main" style="width: 4.5rem;"></div>
                <div class="f-list01-main" style="width: 1.5rem;">= @(taxCoupon.HasValue ? taxCoupon.Value.ToString("f2") : "")</div>
            </div>
            <div class="f-list01 page12-list02">
                <div class="f-list01-main">为您节省：@((Model.Total - (bizCoupon + forceCoupon + taxCoupon)).HasValue ? (Model.Total - (bizCoupon + forceCoupon + taxCoupon)).Value.ToString("f2") : "") 元</div>
                <div class="f-list01-main">优惠价后总价：@(Model.TotalAfterCoupon) 元</div>
            </div>
        </div>
        <div class="page12-submit">
            <div class="t-info">
                <p>保险总价：<span><del>@Model.Total 元</del></span></p>
                <p>优惠价：<span>@(Model.TotalAfterCoupon) 元</span></p>
            </div>
        </div>
        <div class="page12-submit-fixed-extend"></div>
    }

    <script src="~/public/3rdLibs/jquery/jquery-2.1.3.min.js"></script>
    <script src="~/public/js/all.js"></script>
    <div id="myModal" class="reveal-modal">
        <div class="title-text">联系客服</div>
        <div class="Online-Service">
            <a target="_blank" href="http://trupeer.udesk.cn/im_client" id="udesk-im-74">
                <img src="~/public/images/icon-Online.png" /><span>在线客服</span>

            </a>
        </div>
        <div class="tel-Service">
            <a href="tel://400-963-1088">
                <img src="~/public/images/icon-tel.png" /><span>致电客服</span>
            </a>
        </div>
    </div>
</body>
</html>
