
@model DeliverModel
@using HONGLI.Web.Models.User;

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>新建收单地址</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta content="portrait" name="screen-orientation" />
    <meta content="portrait" name="x5-orientation" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Styles/all.css")">
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/base.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery/jquery-2.1.3.min.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/all.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/hongli.common.tools.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/hongli.global.data.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/pcas.js")"></script>
</head>
<body>
    <div class="f-nav">
        <h2>新建收单地址</h2>
        <div class="f-nav-back">
            <a href="@Url.Action("List", "DeliverV3", new { userId= Request["userId"], productId = Request["productId"],mobile = Request["mobile"], channel= Request["channel"], intentionCompany=Request["intentionCompany"], OrderCode=Request["OrderCode"], OrderBaseId=Request["OrderBaseId"], OrderItemId=Request["OrderItemId"], OrderPolicyId=Request["OrderPolicyId"], OrderDeliverId=Request["OrderDeliverId"] })" id=""><i></i></a>
        </div>
    </div>
    <div class="f-nav-extend">&nbsp;</div>
    @using (Html.BeginForm("Edit", "DeliverV3", FormMethod.Post, new { @id = "submitForm" }))
    {
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.Mobile)
        @Html.HiddenFor(m => m.ProductId)
        @Html.HiddenFor(m => m.Channel)
        @Html.HiddenFor(m => m.intentionCompany)
        @Html.HiddenFor(m => m.OrderCode)
        @Html.HiddenFor(m => m.OrderBaseId)
        @Html.HiddenFor(m => m.OrderItemId)
        @Html.HiddenFor(m => m.OrderPolicyId)
        @Html.HiddenFor(m => m.OrderDeliverId)
        if (Model != null)
        {
            @Html.HiddenFor(m => m.Id)
        }
        <div class="page24-form">
            <div class="f-form01-item">
                <label class="f-form01-label">收件人:</label>
                <div class="f-form01-main">
                    @Html.TextBoxFor(m => m.DeliverName, new { @id = "deliverName", @class = "f-form01-input100" })
                    @*<input type="text" value="" id="deliverName" class="f-form01-input100">*@
                </div>
            </div>
            <div class="f-form01-item">
                <label class="f-form01-label">联系方式:</label>
                <div class="f-form01-main">
                    @Html.TextBoxFor(m => m.DeliverMobile, new { @id = "deliverMobile", @class = "f-form01-input100" })
                    @*<input type="text" value="" id="deliverMobile" class="f-form01-input100">*@
                </div>
            </div>
            <div class="f-form01-item">
                <label class="f-form01-label">所在地区:</label>
                <div class="f-form01-main">
                    @Html.HiddenFor(m => m.DeliverLocation, new { @id = "deliverLocation" })
                    <select class="f-select01"  id="deliverProvince" name="deliverProvince"></select>
                    <select class="f-select01" id="deliverCity" name="deliverCity"></select>
                    <select class="f-select01" id="deliverArea" name="deliverArea"></select>
                </div>
            </div>
            <div class="f-form01-item">
                <label class="f-form01-label">详细地址:</label>
                <div class="f-form01-main">
                    @Html.TextBoxFor(m => m.DeliverAddress, new { @id = "deliverAddress", @class = "f-form01-input100" })
                    @*<input type="text" value="" id="deliverAddress" class="f-form01-input100">*@
                </div>
            </div>
        </div>
        <input class="f-button01" type="submit" id="btnSubmit" style="margin-top: 1rem;" value="保存">
        @*<a class="f-button01" style="margin-top: 1rem;" id="btnSubmit">保存</a>*@
        @*</form>*@
    }
    <script src="@Url.Content("~/Scripts/area.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var deliverLocation = "@Model.DeliverLocation";
            if (deliverLocation != null && deliverLocation != "") {
                var locationArrar = deliverLocation.split('|');
                console.log(locationArrar);
                //$("#s_province option[value=" + locationArrar[0] + "]").attr("selected", "selected");
                //$('#s_province').onchange();

                //$("#s_city option[value=" + locationArrar[1] + "]").attr("selected", "selected");

                //$("#s_county option[value=" + locationArrar[2] + "]").attr("selected", "selected");
                //$('#s_province').val(locationArrar[0]);
                //$('#s_city').val(locationArrar[1]);
                //console.log(locationArrar[1]);
                //$('#s_county').val(locationArrar[2]);
                new PCAS("deliverProvince", "deliverCity", "deliverArea", locationArrar[0], locationArrar[1], locationArrar[2]);
            }
            else {
                new PCAS("deliverProvince", "deliverCity", "deliverArea");
            }
        });
        $('#deliverProvince').change(function () {
            $('#deliverLocation').val($('#deliverProvince').val());
        });
        $('#deliverCity').change(function () {
            $('#deliverLocation').val($('#deliverProvince').val() + "|" + $('#deliverCity').val());
        });
        $('#deliverArea').change(function () {
            $('#deliverLocation').val($('#deliverProvince').val() + "|" + $('#deliverCity').val() + "|" + $('#deliverArea').val());
        });
        $("#deliverAddress").focus(function () {
            $('html,body').animate({ scrollTop: $("#deliverAddress").offset().top }, 500);
        });
        $("#btnSubmit").click(function () {
            var deliverName = $('#deliverName').val();
            var deliverMobile = $('#deliverMobile').val();
            var deliverAddress = $('#deliverAddress').val();
            var deliverLocation = $('#deliverLocation').val();
            var msg = '';
            if (deliverName == null || deliverName == '') {
                msg = msg + '请输入收件人！\n';
            }
            if (deliverName.length > 10) {
                msg = msg + '收件人不能超过10个字符！\n';
            }
            if (deliverMobile == null || deliverMobile == "") {
                msg = msg + '请输入联系方式！\n';
            }
            var phonereg = /^((\+?86)|(\(\+86\)))?(13[012356789][0-9]{8}|15[012356789][0-9]{8}|18[02356789][0-9]{8}|147[0-9]{8}|1349[0-9]{7})$/;
            if (deliverMobile.length != 0) {
                if (!phonereg.test(deliverMobile)) {
                    msg = msg + '请您输入正确的联系方式！\n';
                }
            }
            if (deliverAddress == null || deliverAddress == '') {
                msg = msg + '请输入详细地址！\n';
            }
            if (deliverAddress.length > 100) {
                msg = msg + '收件人不能超过100个字符！\n';
            }
            if (deliverLocation == null || deliverLocation == '') {
                msg = msg + '请选择城市！\n';
            }
            console.log(msg);
            if (($('#s_province').val() == null || $('#s_province').val() == '请选择') && ($('#s_city').val() == null || $('#s_city').val() == '请选择') && ($('#s_county') == null || $('#s_county') == '请选择')) {
                msg = msg + '请选择城市！\n';
            }
            if (msg != '') {
                alert(msg);
                return false;
            }

        });
    </script></body>
</html>