@using HONGLI.Entity;
@using HONGLI.Web.Models;
@{
    var list = ViewBag.list as List<OrderListModel>;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的订单</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta content="portrait" name="screen-orientation" />
    <meta content="portrait" name="x5-orientation" />
    <link rel="stylesheet" type="text/css" href="../public/css/all.css">
    <script src="../public/js/base.js"></script>
    <link href="~/public/Popup/reveal.css" rel="stylesheet" />
    <script src="~/public/Popup/jquery-1.6.min.js"></script>
    <script src="~/public/Popup/jquery.reveal.js"></script>
</head>
<body>
    <div class="f-nav">
        <h2>我的订单</h2>
        <div class="f-nav-back">
            <a href="javascript:;" id="riaGoBack"><i></i></a>
        </div>
        <div class="f-nav-action"><a style="float:right;color:#ea3c3a;font-size:.521rem;" data-reveal-id="myModal" href="#" data-animation="fade">客服</a></div>
    </div>
    <div class="f-nav-extend">&nbsp;</div>
    <div class="page31-list">
        @if(list!=null)
        { 
        foreach (var item in list)
        {
            <div class="f-list01">
                <div class="f-list01-img">
                    <img src="@HtmlHelper.GetInsuranceLogoUrl((EnumInsuranceLogo)(item.InsuranceLogo))">
                </div>
                <div class="f-list01-main">
                    <p class="t-title">@item.LicenseNo 保费</p>
                    <p class="t-tips">@if (item.ForceExpireDate.HasValue)
                    {
                        <span>交强险</span>@item.ForceExpireDate.Value.ToString("yyyy年MM月dd日")
                    }
                    else
                    {
                        <span>
                        </span>
                    }
</p>
                    <p class="t-tips">
                        @if (item.BusinessExpireDate.HasValue)
                        {
                            <span>商业险</span>@item.BusinessExpireDate.Value.ToString("yyyy年MM月dd日")
                    }
                    else
                    {
                        <span></span>
                    }
                </p>                    
                </div>
                <div class="f-list01-other">                    
                    <p class="t-red">@HtmlHelper.GetOrderStatusText((EnumOrderStatus)item.OrderStatus)</p>
                    @if (((EnumOrderStatus)item.OrderStatus) == EnumOrderStatus.Paid || ((EnumOrderStatus)item.OrderStatus) == EnumOrderStatus.Success || ((EnumOrderStatus)item.OrderStatus) == EnumOrderStatus.Mailingpolicy)
                    {
                        <p class="t-money">实付金额:￥@item.AmountPayable</p>                        
                    }
                    else
                    {
                        <p class="t-money">应付金额:￥@item.AmountPayable</p>
                        <p class="t-pay"><a href="#" class="f-button02" onclick="changeOrderStatus(@item.Id,@item.OrderCode)">取消订单</a></p>
                    }

                </div>
            </div>
        }
             }
        @*<div class="f-list01">
            <div class="f-list01-img">
                <img src="../public/imagesTemp/page31-170-100.png">
            </div>
            <div class="f-list01-main">
                <p class="t-title">京J5478保费</p>
                <p class="t-tips">交强险起保期日2016年2月5日</p>
                <p class="t-tips">商业险起保期日2016年2月5日</p>
            </div>
            <div class="f-list01-other">
                <p class="t-red">待付款</p>
                <p class="t-money">实付金额:￥8456</p>
                <p class="t-pay"><a href="#" class="f-button02">去支付</a></p>
            </div>
        </div>
        <div class="f-list01">
            <div class="f-list01-img">
                <img src="../public/imagesTemp/page31-170-100.png">
            </div>
            <div class="f-list01-main">
                <p class="t-title">京J5478保费</p>
                <p class="t-tips">交强险起保期日2016年2月5日</p>
                <p class="t-tips">商业险起保期日2016年2月5日</p>
            </div>
            <div class="f-list01-other">
                <p class="t-gray">已支付</p>
                <p class="t-money">实付金额:￥8456</p>
                <p class="t-pay"><a href="#" class="f-button02">去支付</a></p>
            </div>
        </div>
        <div class="f-list01">
            <div class="f-list01-img">
                <img src="../public/imagesTemp/page31-170-100.png">
            </div>
            <div class="f-list01-main">
                <p class="t-title">京J5478保费</p>
                <p class="t-tips">交强险起保期日2016年2月5日</p>
                <p class="t-tips">商业险起保期日2016年2月5日</p>
            </div>
            <div class="f-list01-other">
                <p class="t-red">等待收单</p>
                <p class="t-money">实付金额:￥8456</p>
                <p class="t-pay"><a href="#" class="f-button02">去支付</a></p>
            </div>
        </div>*@
    </div>
    <div class="page31-fixed-extend"></div>
    <div class="page31-fixed">
        <a href="tel:4009631088" class="page31-button-400"><i>400-963-1088</i></a>
    </div>
    <script src="../public/3rdLibs/jquery/jquery-2.1.3.min.js"></script>
    <script src="../public/js/all.js"></script>
    <div id="myModal" class="reveal-modal">
        <div class="title-text">联系客服</div>
        <div class="Online-Service">
            <a target="_blank" href="http://trupeer.udesk.cn/im_client" id="udesk-im-74">
                <img src="~/public/images/icon-Online.png" /><span>在线客服</span>

            </a>
        </div>
        <div class="tel-Service">
            <a href="tel://400-963-1088">
                <img src="~/public/images/icon-tel.png" /><span>致电客服</span>
            </a>
        </div>
    </div>
    <script>
        function changeOrderStatus(orderbaseid,ordercode)
        {
            if(confirm("是否确认取消订单?"))
            {
                $.post('@Url.Action("EditOrderStatus", "Admin")', { orderbaseid: orderbaseid, ordercode: ordercode, status: 9 }, function (data) {
                    if(data==1)
                    {
                        alert("单号：" + ordercode + ",订单状态已修改");
                        history.go(0);
                    }
                    else
                    {
                        alert("单号：" + ordercode + ",订单状态修改失败");
                    }
                });
            }
        }
    </script>
    <script>function getReferrer(){var imEle = document.getElementById("udesk-im-74");if(imEle.href.indexOf("?")>-1){imEle.href+="&"}else{imEle.href+="?"}imEle.href+="cur_url="+encodeURIComponent(location.href);imEle.href+="&";imEle.href+="pre_url="+encodeURIComponent(document.referrer);}window.onload = getReferrer();</script>
</body>
</html>
